<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stx.mapper.AdminMapper">
	<!-- 判断部门名是否存在 -->
	<select id="departNameExist" parameterType="com.stx.pojo.Department" resultType="Integer">
		select count(*) from department where name = #{name}
	</select>
	<!-- 添加部门 -->
	<insert id="addDepartment" parameterType="com.stx.pojo.Department" useGeneratedKeys="true" keyProperty="id">
		insert into department(name,info) values(#{name},#{info})
	</insert>
	<!-- 修改部门名时判断部门名是否存在 -->
	<select id="updateDepartmentExist" parameterType="com.stx.pojo.Department" resultType="Integer">
		select count(*) from department where id!=#{id} and name=#{name}
	</select>
	<!-- 修改部门 -->
	<update id="changeDepartmentInfo" parameterType="com.stx.pojo.Department">
		update department set name=#{name},info=#{info} where id=#{id}
	</update>
	<!-- 查询所有部门 -->
	<select id="queryDepartment" resultType="com.stx.pojo.Department">
		select id,name,info from department
	</select>
	<!-- 删除部门 -->
	<delete id="delDepartmentById" parameterType="Integer">
		delete from department where id=#{id}
	</delete>
	<!-- 查询员工通过departmentId -->
	<select id="queryEmployByDepartmentId" parameterType="Integer" resultType="com.stx.pojo.Employ">
		select id,username,password,info, department_id departmentid,authority_id,queuename,open from employ where department_id=#{departmentId} order by authority_id desc
	</select>
	<!-- 修改employ状态 -->
	<update id="open" parameterType="com.stx.pojo.Employ">
		update employ set open=#{open} where id=#{id}
	</update>
	<!-- 修改custom状态 -->
	<update id="openCustom" parameterType="com.stx.pojo.Custom">
		update custom set open=#{open} where id=#{id}
	</update>
</mapper>