<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stx.mapper.EmployLeaveMapper">
	<!-- 请假模块sql -->
	<resultMap id="BaseResultMap" type="com.stx.pojo.EmployLeave">
		<id column="id" property="id" jdbcType="BIGINT" />
	    <result column="employ_id" property="employId" jdbcType="INTEGER" />
	    <result column="employ_name" property="employName" jdbcType="VARCHAR" />
	    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
	    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
	    <result column="commit_time" property="commitTime" jdbcType="TIMESTAMP" />
	    <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
	    <result column="status" property="status" jdbcType="BOOLEAN" />
	    <result column="leave_reason" property="leaveReason" jdbcType="VARCHAR"/>
	    <result column="unapproved" property="unapproved" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 表字段 -->
	<sql id="column">
		  id,
		  employ_id,
		  employ_name,
		  start_time,
		  end_time,
		  commit_time,
		  deal_time,
		  status,
		  leave_reason,
		  unapproved
	</sql>
	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id != null ">
		      AND id = #{id}  <!-- id -->
		</if>
	   <if test="startTime != null ">
		      AND start_time = #{startTime}  <!-- 采购价 -->
		</if>
	   <if test="endTime != null ">
		      AND end_time = #{endTime}  <!-- 优惠价 -->
		</if>
	    <if test="dealTime != null and dealTime != ''">
		      AND deal_time = #{dealTime}  <!-- 优惠名称 -->
		</if>
	    <if test="commitTime != null and commitTime != ''">
		      AND commit_time = #{commitTime}  <!-- benefit_code -->
		</if>
	    <if test="employId != null and employId != ''">
		      AND employ_id = #{employId}  <!-- 优惠标题 -->
		</if>
	    <if test="employName != null and mployName != ''">
		      AND employ_name = #{mployName}  <!-- 地区编码 -->
		</if>
	    <if test="status != null and status != ''">
		      AND status = #{status}  <!-- 店铺code -->
		</if>
		<if test="leaveReason != null and leaveReason != ''">
			AND leave_reason = #{leaveReason}
		</if>
		<if test="unapproved != null and unapproved != ''">
			AND unapproved = #{unapproved}
		</if>
	</sql>
	
	<!-- 查询 -->
	<select id="list" parameterType="com.stx.pojo.EmployLeave" resultMap="BaseResultMap">
		SELECT
			<include refid="column" />	
		FROM EMPLOY_LEAVE
		<where>
		    <include refid="equal" />
		</where>
			order by id desc
	</select>
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="com.stx.pojo.EmployLeave">
		INSERT INTO EMPLOY_LEAVE (
		<if test="id != null and id != ''">
	         id,
		</if>
		<if test="employId != null and employId != ''">
	         employ_id, 
		</if>
		<if test="employName != null and employName != ''">
	         employ_name,
		</if>
		<if test="startTime != null and startTime != ''">
	         start_time,
		</if>
		<if test="endTime != null and endTime != ''">
	         end_time,
		</if> 
		<if test="commitTime != null">
	         commit_time,
		</if>
		<if test="dealTime != null">
	         deal_time,
		</if>
		<if test="status != null and status != ''">
	         status,
		</if>
		<if test="leaveReason != null and leaveReason != ''">
			leave_reason,
		</if>
		<if test="unapproved != null and unapproved != ''">
			unapproved,
		</if>
		)VALUES(
		<if test="id != null">
	          #{id, jdbcType=BIGINT},
	    </if>
		<if test="employId != null and employId != ''">
	          #{employId, jdbcType=INTEGER},
	    </if>
		<if test="employName != null and employName != ''">
	          #{employName, jdbcType=VARCHAR},
	    </if>
		<if test="startTime != null">
	          #{startTime, jdbcType=VARCHAR},
	    </if>
		<if test="endTime != null">
	          #{endTime, jdbcType=VARCHAR},
	    </if> 
		<if test="commitTime != null">
	          #{commitTime, jdbcType=TIMESTAMP},
	    </if>
		<if test="dealTime != null">
	          #{dealTime, jdbcType=TIMESTAMP},
	    </if>
		<if test="status != null and status != ''">
	          #{status, jdbcType=BOOLEAN},
	    </if>
	    <if test="leaveReason != null and leaveReason != ''">
			#{leaveReason,jdbcType=VARCHAR}
		</if>
		<if test="unapproved != null and unapproved != ''">
			#{unapproved,jdbcType=unapproved}
		</if>
		)
	</insert>
	
	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="com.stx.pojo.EmployLeave">
		UPDATE EMPLOY_LEAVE
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=BIGINT},  <!-- id -->
			</if>
			<if test="employId != null and employId != ''">
		          employ_id = #{employId, jdbcType=INTEGER},
			</if>
			<if test="employName != null and employName != ''">
		          employ_name = #{employName, jdbcType=VARCHAR},
			</if>
			<if test="startTime != null and startTime != ''">
		          start_time = #{startTime, jdbcType=VARCHAR},
			</if>
			<if test="endTime != null and endTime != ''">
		          end_time = #{endTime, jdbcType=VARCHAR},
			</if>
			<if test="commitTime != null and commitTime != ''">
		          commit_time = #{commitTime, jdbcType=TIMESTAMP},
			</if>
			<if test="dealTime != null and dealTime != ''">
		          deal_time = #{commitTime, jdbcType=TIMESTAMP},
			</if>
			<if test="status != null and status != ''">
		          status = #{status, jdbcType=BOOLEAN},
			</if>
			<if test="leaveReason != null and leaveReason != ''">
				leave_reason =#{leaveReason,jdbcType=VARCHAR},
			</if>
			<if test="unapproved != null and unapproved != ''">
				unapproved =#{unapproved,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE  id = #{id}
	</update>
</mapper>