<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stx.mapper.SystemLogMapper">
	<!-- 判断表是否存在 -->
	<select id="existTable" parameterType="String" resultType="String">
		show tables like #{tableName}
	</select>
	
	<!-- 删除一个日志表 -->
	<update id="dropTable">  
        drop table #{tableName}     
    </update>
    
    <!-- 创建一张新日志表 systemlog_yyyyMMdd -->
    <!-- 不知为什么，这里必须这么写${_parameter} -->
    <update id="createNewTable" parameterType="String">  
        create table ${_parameter}(
			id bigint primary key auto_increment,
			methodname varchar(100),
			classname varchar(200),
			opertime timestamp
		); 
    </update> 
    
    <!-- 写日志 -->
    <!-- 不知为什么，这里必需用$,用#回出错 -->
    <insert id="insertSystemLog" parameterType="com.stx.pojo.SystemLogVO">
    	insert into ${tableName}(methodname,classname,opertime) values(#{systemLog.methodName},#{systemLog.className},#{systemLog.operTime});
    </insert>
</mapper>