*{
	padding:0px;
	margin:0px;
	text-decoration: none;
}
#box{
	width:500px;
	margin:0 auto;
	margin-top:50px;
	border: 1px solid #ccc;
}
#box #oldpassword{
	margin:0 auto;
	display:block;
	width:80%;
	height:30px;
	text-indent: 10px;
	font-size: 25px;
	margin-top:30px;
}
#box #newpassword{
	margin:0 auto;
	display:block;
	width:80%;
	height:30px;
	text-indent: 10px;
	font-size: 25px;
}
#box #info{
	margin:0 auto;
	display:block;
	width:80%;
	height:100px;
	text-indent: 10px;
	font-size:25px;
}
#box #submit{
	width:80%;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	height:40px;
	font-size: 25px;
	font-weight: 800;
	color:white;
	background: #175A9F;
	display:block;
	border-radius:5px;
}