#prePage{
	width:110px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	height:35px;
	font-size: 25px;
	font-weight: 400;
	background:white;
	border:1px solid #175A9F;
	color:#175A9F;
	display:block;
	border-radius:5px;
	float:right;
	outline: none;
}
#prePage:hover{
	background: #175A9F;
	outline: none;
	color:white;
}
#nextPage{
	width:110px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	height:35px;
	font-size: 25px;
	font-weight: 400;
	background: white;
	color:#175A9F;
	display:block;
	border:1px solid #175A9F;
	border-radius:5px;
	float:right;
	margin-left:25px;
	outline: none;
}
#nextPage:hover{
	background: #175A9F;
	color:white;
	outline: none;
}