*{
	padding:0px;
	margin:0px;
	text-decoration: none;
	background: #F9F9F9;
}
body{
	width:100%;
	height:100%;
}
.box{
	width:100%;
	height:100%;
	background: #F9F9F9;
}
.box .msgBox{
	width:25%;
	height:380px;
	margin-left:6%;
	margin-top:10%;
	float:left;
	background: white;
	border:1px solid #ccc;
	-webkit-transition:width 0.5s,height 0.5s;
	-o-transition:width 0.5s,height 0.5s;
	-moz-transition:width 0.5s,height 0.5s;
}
.box .msgBox:hover{
	box-shadow:0px 0px 10px 5px #D1D2D3;
	cursor: pointer;
	width:28%;
	height:400px;
}
.box .msgBox .head{
	width:100%;
	height:50px;
	color:white;
	font-weight: 800;
	font-size:15px;
	line-height: 50px;
	text-indent: 15px;
}
.box .msgBox .msgBody{
	overflow: scroll;
	width:100%;
	height:330px;
}
.box .msgBox .msgBody::-webkit-scrollbar {
    display: none;
}
 .box .msgBox .msgBody .msg{
	width:100%;
	height:60px;
	border:0.5px dashed #ddd;
}

.box .msgBox .msgBody .msg .sname{
	float:left;
	margin-top:5px;
	font-size:12px;
	padding-left:10px;
}
.box .msgBox .msgBody .msg .type{
	float:left;
	margin-top:5px;
	font-size:12px;
	padding-left:30px;
}
.box .msgBox .msgBody .msg .time{
	float:right;
	margin-top:5px;
	padding-right:10px;
	font-size:12px;
}
.box .msgBox .msgBody .msg .content{
	margin-top:30px;
	font-size:12px;
	margin-left:10px;
	margin-right:10px;
	white-space: nowrap;/*��ֹ����*/
	overflow:hidden;
	text-overflow:ellipsis;/*����������ʾʡ�Ժ�*/
}
.box .msgBox .msgBody .msg .other{
	/* display:none; */
}
.box .new{
	
}

.box .new .head{
	background: #30C5DB;
}
.box .new .head:hover{
	background: #1BA9BF;
}



.box .histroy{
	
}
.box .histroy .head{
	background: #9E9CF6;
}
.box .histroy .head:hover{
	background: #8C8ADB;
}
.
.box .hasSend{
	
}
.box .hasSend .head{
	background: #94CD4E;
}
.box .hasSend .head:hover{
	background: #81B344;
}
/*弹框*/
.cover{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index: 2;
	background: black;
	opacity:0.5;
	filter:alpha(opacity=50); 
}
.cbox{
	position: absolute;
	left:30%;
	top:20%;
	width:40%;
	height:60%;
	background: white;
	z-index: 3;
	
	-webkit-perspective:800;    /*属性定义 3D 元素距视图的距离，以像素计。*/  
    -webkit-perspective-origin:100% 0%;  
    -webkit-transform-style:-webkit-preserve-3d; 
}
.cbox .closeWindow{
	float:right;
	width:20px;
	height:20px;
	cursor: pointer;
	transition:-webkit-transform 0.5s;
	background: white;
}
.cbox .closeWindow:hover{
	-webkit-transform:rotateZ(360deg);	/*旋转*/
}
.cbox .closeWindow img{
	width:100%;
	height:100%;
}
.cbox .msgInfo{
	position:none;
	width:100%;
	height:90%;
	overflow: scroll;
	text-indent:10px;
	margin-top:10px;
	background: white;
	
}
.cbox .msgInfo a{
	color:blue;
	-webkit-transition:color 1s,font-size 0.5s;
}
.cbox .msgInfo a:hover{
	text-decoration: underline;
	color:red;
	font-size:16px;
}
.cbox .msgInfo::-webkit-scrollbar {
    display: none;
    font-size:12px;
}
.cbox .msgInfo p{
	font-size:12px;
	line-height: 30px;
}
.cbox .msgInfo p span{
	background: green;
}
.none{
	display:none;
}
.block{
	display:block;
}