#workstart{
	width:110px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	height:35px;
	font-size: 20px;
	font-weight: 400;
	background:white;
	border:1px solid #175A9F;
	color:#175A9F;
	display:block;
	border-radius:5px;
	float:right;
	outline: none;
	float:left;
}
#workstart:hover{
	background: #175A9F;
	outline: none;
	color:white;
	cursor: pointer;
}
#workend{
	width:110px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	height:35px;
	font-size: 20px;
	font-weight: 400;
	background:white;
	border:1px solid #175A9F;
	color:#175A9F;
	display:block;
	border-radius:5px;
	float:right;
	outline: none;
	float:left;
}
#workend:hover{
	background: #175A9F;
	outline: none;
	color:white;
	cursor: pointer;
}
#appeal{
	width:110px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	border:none;
	height:35px;
	font-size: 20px;
	font-weight: 400;
	background:white;
	border:1px solid #175A9F;
	color:#175A9F;
	display:block;
	border-radius:5px;
	float:right;
	outline: none;
	float:left;
}
#appeal:hover{
	background: #175A9F;
	outline: none;
	color:white;
	cursor: pointer;
}
#cover{
	position: absolute;
	top:0px;
	width:0px;
	width:100%;
	height:100%;
	display:none;
	z-index: 1;
	background:black;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#msg_box{
	position: fixed;
	width:0%;
	height:0%;
	border:1px solid #ccc;
	top:50%;
	left:50%;
	z-index: 2;
	background: white;
	overflow:hidden;
	-webkit-transition:width 1s,height 1s,left 1s,top 1s;
	-moz-transition:width 1s,height 1s,left 1s,top 1s;
	-o-transition:width 1s,height 1s,left 1s,top 1s;
	
	-webkit-perspective:800;    /*属性定义 3D 元素距视图的距离，以像素计。*/  
    -webkit-perspective-origin:50% 50%;  
    -webkit-transform-style:-webkit-preserve-3d; 
}
#msg_box #closeWindow{
	position: absolute;
	top:0px;
	right:0px;
	width:20px;
	height:20px;
	cursor: pointer;
	-webkit-transition:-webkit-transform 0.5s;
	-moz-transition:-webkit-transform 0.5s;
	-o-transition:-webkit-transform 0.5s;
}
#msg_box #closeWindow:hover{
	-webkit-transform:rotateZ(180deg);
}
#msg_box #closeWindow img{
	width:100%;
	height:100%;
}
#msg_box #form{
	position: absolute;
	left:10%;
	top:10%;
	width:80%;
	height:80%;
}
#msg_box #form #time{
	position:absolute;
	top:10%;
	left:0px;
	width:100%;
}
#msg_box #form #time lable{
	position:absolute;
	left:0px;
	top:0px;
	display:block;
	text-align:right;
	font-size:12px;
	width:25%;
	z-index: 4;
}
#msg_box #form #time input{
	position:absolute;
	left:26%;
	top:0px;
	width:50%;
}
#msg_box #form #reason{
	position:absolute;
	top:25%;
	left:0px;
	width:100%;
}
#msg_box #form #reason lable{
	position:absolute;
	left:0px;
	top:0px;
	display:block;
	text-align:right;
	font-size:12px;
	width:25%;
	z-index: 4;
}
#msg_box #form #reason textarea{
	position:absolute;
	left:26%;
	top:0px;
	width:50%;
	height:60px;
}
#msg_box #form #select{
	position:absolute;
	top:50%;
	left:0px;
	width:100%;
}
#msg_box #form #select #input1{
	position:absolute;
	left:25%;
}
#msg_box #form #select #input2{
	position:absolute;
	left:50%;
}
#msg_box #form #select #lable1{
	position:absolute;
	font-size:12px;
	left:29%;
}
#msg_box #form #select #lable2{
	position:absolute;
	font-size:12px;
	left:54%;
}
#msg_box #form #appeal_btn{
	position: absolute;
	top:70%;
	width:100%;
	
}
#msg_box #form #appeal_btn button{
	position: absolute;
	left:20%;
	width:60%;
	background: #5BC0DE;
	color:white;
	font-size:16px;
	font-weight:400;
	border:none;
	height:40px;
	border-radius: 3px;
}
#msg_box #form #appeal_btn button:hover{
	background: #31B0D5;
}