*{
	padding:0px;
	margin:0px;
	text-decoration: none;
}
#box{
	width:1000px;
	height:500px;
	margin:0 auto;
}
#box #title{
	width:800px;
	height:35px;
	margin:0 auto;
	font-size:20px;
	display: block;
	text-indent: 10px;
}
#box #content{
	width:800px;
	height:350px;
	margin:0 auto;
	display:block;
	text-indent: 10px;
	font-size:20px;
}
#box #submit{
	width:130px;
	height:40px;
	background: #175A9F;
	border-radius:5px;
	color:white;
	font-weight: 800;
	border:none;
	float:right;
	margin-right:100px;
}